/* downloaded font */
@font-face {
	font-family: "bagong-font";
	src: url("../fonts/bebas.otf");
}




/* css reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* set a default font for all elements */
	font-family: 'Raleway', sans-serif;
}

/* start landing page */
.jumbotron hr {
	background-color: #fff;
}

#jumbo-land {
	height: 100vh;
	background-color: #48b9ff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	/*background-color: #333; */
	border-radius: 0; /*remove round corners*/
	padding-top: 20%;
}

.jumbotron h1, .jumbotron p {
	color: #f2f2f2; /*off white*/
}

.btn a {
	text-decoration: none;
	color: #fff;
}

/* end landing page */

/* home page */
#home-landing {
	background-color: #333;
	color: #fff;
	padding: 20%;
	margin-bottom: 0;
}

#carousel-home {
	height: 100vh;
}

#carousel-home img {
	height: 90vh;
}

/*end home page*/


/*about page*/
#jumbotron-about {
	background-color: #141414; /*off black*/
	height: 90vh;
	border-radius: 0;
}

#landing-about {
	color: #f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	font-family: 'Montserrat', sans-serif;
}

.about-tags {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

#mission {
	background-color: #141414; /*off black*/
	color: #f2f2f2; /*off white*/
	height: 100%;
}

#vision {
	background-color: #f2f2f2;
	color: #141414;
	height: 100%;
}

/*end about page*/






















